
.my-card{
    border: none;
    border-radius: 25px;
}
.my-badge{
    width: 72px;
    position: relative;
    top: -10px;
    border-radius: 20px;
}
.my-button{
    background-color: white;
    color:#0275d8;
    border-radius: 20px;    
}
.my-img{
    width: 95px;
}
.my-client-card{
    border-radius: 5px;
    box-shadow: 0 0 15px lightgrey;
}