.title{
    font-size: 1.2rem;
    font-weight: 700;
}
.my-card{
    border: none;
    border-radius: 25px;
}
.my-badge{
    width: 72px;
    position: relative;
    top: -10px;
    border-radius: 20px;
    color: rgb(153, 110, 0);
}
.my-button{
    background-color: white;
    color:#0275d8;
    border-radius: 20px;    
}
.my-img{
    width: 95px;
}
.my-toast{
    border-left: 8px solid #0275d8;
}